{% extends "quiz/base.html" %}
{% load static %}

{% block content %}
<style>
	p {
    	text-indent: 40px; /* Отступ первой строки в пикселах */
		text-align: justify;
		margin: 10px 20px 20px 20px;
   }
</style>

<div class="section6 revealator-zoomin revealator-delay1 revealator-once">

	{% if question.r_ans == answer %}
		<h3 class="c-center c-font-uppercase c-font-bold c-font-ms-green">
			Верно!</h3>
	{% else %}
		<h3 class="c-center c-font-uppercase c-font-bold c-font-red">
			Неверно!</h3>
		<h3 class="c-center c-font-ms-green c-font-bold">Правильный ответ:</h3>
	{% endif %}
		<div class="c-font-20 c-font-white c-font-sbold" align="center">
			<table class="cellspacing-0">
				<tr>
					<td align="center" class="trans">
						<img alt="" src="{% get_static_prefix %}quiz/images/{{ question.number }}.jpg">
					</td>
				</tr>
				<tr>
					<td align="left" valign="top" class="bgtrans">
						{{ question.text_answer|safe }}
					</td>
				</tr>
			</table>
		</div>

	<form method="get">
		<table class="cellspacing">
			<tr>
				<td align="center">
					<button
							class="c-font-24 btn btn-xlg c-btn-ms-green c-font-uppercase"
							type="submit"
							value="{{ question.number }}"
							name="question">
						{% if question.number < 20 %}
							<span class="c-font-20 c-font-bold">Следующий вопрос</span>
						{% else %}
							<span class="c-font-20 c-font-bold">Завершить тест</span>
						{% endif %}
					</button>
				</td>
			</tr>
		</table>
	</form>
</div>

{% endblock %}