{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ОАО "Метрострой"-80 лет!</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'quiz/style.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/fm.revealator.jquery.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/components.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/custom.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'quiz/default.css' %}">
	<link href="{% static 'quiz/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

	<script src="{% static 'quiz/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'quiz/js/fm.revealator.jquery.js' %}"></script>

</head>

<body background="{% static 'quiz/images/index.jpg' %}">

<div align="right" style="margin-right: 20px; margin-top: 20px">
	<a alt="На главную" href="{% url 'home' %}">
	<img
			src="{% static 'quiz/images/home.png' %}"
			onmouseover="this.src='{% static 'quiz/images/home2.png' %}'"
			onmouseout="this.src='{% static 'quiz/images/home.png' %}'">
	</a>
</div>

{% block content %}

{% endblock %}

<br>
<div class="footer bgtrans c-font-uppercase c-font-bold c-font-ms-green">
   &copy; ОАО "Метрострой", 2021,
	<a href="https://metrostroy-spb.ru/" style="color: #00a6b5" class="c-font-lowercase">www.metrostroy-spb.ru</a>
</div>

</body>
</html>
