.tablecell{
    width: 100%;
}
.tablecell-80{
    width: 80%;
}
.cellspacing{
	border-collapse: separate;
	border-spacing: 30px 30px;
	width: 100%;
}
.cellspacing-0{
	border-collapse: separate;
	border-spacing: 0px 0px;
	width: 720px;
}
.divnew {
  	white-space: normal;
	line-height: 1.5;
 }

.divnew2 {
  	white-space: normal;
	line-height: 2;
 }

.butwidth {
	width: 400px;
}

.c-font-ms-green {
  color: #00a6b5 !important;
}

.c-btn-border-1x.c-btn-ms-green {
  border-color: #00a6b5;
  color: #00a6b5;
  background: none;
  border-color: #00a6b5;
}

.c-btn-border-1x.c-btn-ms-green.btn-no-focus:focus, .c-btn-border-1x.c-btn-ms-green.btn-no-focus.focus {
  color: #00a6b5;
  background: none;
  border-color: #00a6b5;
}
.c-btn-border-1x.c-btn-ms-green.btn-no-focus:hover, .c-btn-border-1x.c-btn-ms-green:hover, .c-btn-border-1x.c-btn-ms-green.btn-no-focus:active, .c-btn-border-1x.c-btn-ms-green:active, .c-btn-border-1x.c-btn-ms-green.active, .open > .c-btn-border-1x.c-btn-ms-green.dropdown-toggle {
  color: #ffffff;
  background: #00a6b5;
  border-color: #00a6b5;
}

.c-btn-ms-green {
  border-color: #eeeeee;
  border-width: 1px;
  color: #2f353b;
  background: #eeeeee;
  border-color: #eeeeee;
}
.c-btn-ms-green.btn-no-focus:focus, .c-btn-ms-green.btn-no-focus.focus {
  color: #2f353b;
  background: #eeeeee;
  border-color: #eeeeee;
}
.c-btn-ms-green.btn-no-focus:hover, .c-btn-ms-green:hover, .c-btn-ms-green.btn-no-focus:active, .c-btn-ms-green:active, .c-btn-ms-green.active, .open > .c-btn-ms-green.dropdown-toggle {
  color: #2f353b;
  background: #00a6b5;
  border-color: #00a6b5;
}

.trans {
	background: white; /* Цвет фона */
    border: 1px solid #333; /* Граница вокруг ячеек */
	padding: 5px;
	opacity: 1; /* Полупрозрачность таблицы */
    filter: alpha(Opacity=100); /* Для IE */
   	}

.bgtrans {
	border: 1px solid #333; /* Граница вокруг ячеек */
	padding: 5px;
	background-color:rgba(0, 0, 0, 0.4);
	}
.bgtrans-40 {
	border: 0px solid #333; /* Граница вокруг ячеек */
	padding: 0px;
	background-color:rgba(0, 0, 0, 0.4);
	}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

